.gonormal {
    display: inline-block;
}
.goright {
    position: relative;
    float: right;
}
.edit {
    position: relative;
    float: right;
    margin-left: 10px;
}
.delete {
    position: relative;
    float: right;
    margin-right: 10px;
}

.input {
    padding-left: 10px;
}

.date {
    height: 14px;
    margin-left: 10%;
    display: block;
    font-family: sans-serif;
}

.dropdown {
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    margin-bottom: 10px;
}